In [1]:
import pandas as pd

#### Preprocess

In [2]:
pv_sim_df = pd.read_csv('2021_2022_PV_sim_PST_preprocessed.csv', sep='\t')

# convert time (string) to timestamp
pv_sim_df['Time'] = pv_sim_df['Time'].apply(pd.Timestamp)

# remove timezone
pv_sim_df['Time'] = pv_sim_df['Time'].dt.tz_localize(None)

# sort by time
pv_sim_df.sort_values(by=['Time']).reset_index(drop=True)

# remove un-used columns
pv_sim_df = pv_sim_df.drop(columns=['Unnamed: 0', 'Time_local'])

In [3]:
pv_sim_df

                     Time  PV_kwAC_out  PV_kwAC_out_Norm
0     2021-01-01 00:00:00          0.0               0.0
1     2021-01-01 01:00:00          0.0               0.0
2     2021-01-01 02:00:00          0.0               0.0
3     2021-01-01 03:00:00          0.0               0.0
4     2021-01-01 04:00:00          0.0               0.0
...                   ...          ...               ...
17515 2022-12-31 19:00:00          0.0               0.0
17516 2022-12-31 20:00:00          0.0               0.0
17517 2022-12-31 21:00:00          0.0               0.0
17518 2022-12-31 22:00:00          0.0               0.0
17519 2022-12-31 23:00:00          0.0               0.0

[17520 rows x 3 columns]

In [4]:
load_df = pd.read_csv('caiso_load_hourly_preprocessed.csv', sep=',')

# convert time (string) to timestamp
load_df['Time'] = load_df['Time'].apply(lambda x: pd.Timestamp(x, tz='US/Pacific'))

# remove timezone
load_df['Time'] = load_df['Time'].dt.tz_localize(None)

In [5]:
load_df

                     Time      Load
0     2021-01-01 00:00:00  258190.0
1     2021-01-01 01:00:00  247591.0
2     2021-01-01 02:00:00  239411.0
3     2021-01-01 03:00:00  235442.0
4     2021-01-01 04:00:00  234975.0
...                   ...       ...
17491 2022-12-30 19:00:00  308407.0
17492 2022-12-30 20:00:00  301158.0
17493 2022-12-30 21:00:00  293008.0
17494 2022-12-30 22:00:00  278617.0
17495 2022-12-30 23:00:00  263125.0

[17496 rows x 2 columns]

In [6]:
get_as_prices_df = pd.read_csv('df_get_as_prices_preprocessed.csv', sep='\t')

# convert time (string) to timestamp
get_as_prices_df['Time'] = get_as_prices_df['Time'].apply(lambda x: pd.Timestamp(x, tz='US/Pacific'))

# remove timezone
get_as_prices_df['Time'] = get_as_prices_df['Time'].dt.tz_localize(None)

# remove un-used columns
get_as_prices_df = get_as_prices_df.drop(columns=['Unnamed: 0'])

In [7]:
get_as_prices_df

,Time,Non-Spinning Reserves Total (MW),Regulation Down Total (MW),Regulation Mileage Down Total (MW),Regulation Mileage Up Total (MW),Regulation Up Total (MW),Total Volume(MW)
0,2021-01-01 00:00:00,1108.50,459.89,0.0,0.0,230.76,1799.15
1,2021-01-01 01:00:00,1086.00,429.89,0.0,0.0,226.26,1742.15
2,2021-01-01 02:00:00,1096.50,409.89,0.0,0.0,223.74,1730.13
3,2021-01-01 03:00:00,1100.50,389.89,0.0,0.0,226.74,1717.13
4,2021-01-01 04:00:00,1062.50,399.89,0.0,0.0,240.14,1702.53
...,...,...,...,...,...,...,...
17491,2022-12-30 19:00:00,846.72,570.00,0.0,0.0,482.92,1899.64
17492,2022-12-30 20:00:00,820.73,600.00,0.0,0.0,548.80,1969.53
17493,2022-12-30 21:00:00,792.98,590.00,0.0,0.0,391.06,1774.04
17494,2022-12-30 22:00:00,752.10,378.00,0.0,0.0,372.36,1502.46
17495,2022-12-30 23:00:00,704.69,510.00,0.0,0.0,289.23,1503.92

In [8]:
get_load_forecast_df = pd.read_csv('df_get_load_forecast_preprocessed.csv', sep='\t')

# convert time (string) to timestamp
get_load_forecast_df['Time'] = get_load_forecast_df['Time'].apply(lambda x: pd.Timestamp(x, tz='US/Pacific'))

# remove timezone
get_load_forecast_df['Time'] = get_load_forecast_df['Time'].dt.tz_localize(None)

# remove un-used columns
get_load_forecast_df = get_load_forecast_df.drop(columns=['Unnamed: 0', 'Forecast Time', 
                                                          'Interval Start', 'Interval End'])

In [9]:
get_load_forecast_df

                     Time  Load Forecast  Load_Forecast_Norm
0     2021-01-01 00:00:00       21433.07            0.185736
1     2021-01-01 01:00:00       20637.49            0.164058
2     2021-01-01 02:00:00       20077.64            0.148804
3     2021-01-01 03:00:00       19592.67            0.135589
4     2021-01-01 04:00:00       19527.81            0.133822
...                   ...            ...                 ...
17515 2022-12-31 19:00:00       25297.51            0.291031
17516 2022-12-31 20:00:00       24463.21            0.268299
17517 2022-12-31 21:00:00       23822.35            0.250837
17518 2022-12-31 22:00:00       23038.79            0.229487
17519 2022-12-31 23:00:00       22090.15            0.203639

[17520 rows x 3 columns]

In [10]:
fuel_mix_df = pd.read_csv('fuel_mix_preprocessed.csv', sep=',')

# convert time (string) to timestamp
fuel_mix_df['Time'] = fuel_mix_df['Time'].apply(pd.Timestamp)

In [11]:
fuel_mix_df

,Time,Solar,Wind,Geothermal,Biomass,Biogas,Small Hydro,Coal,Nuclear,Natural Gas,Large Hydro,Batteries,Imports,Other
0,2021-01-01 00:00:00,-41,1449,957,308,202,142,12,1143,7846,690,62,9222,0
1,2021-01-01 01:00:00,-41,1624,956,308,203,141,12,1142,7290,626,83,8810,0
2,2021-01-01 02:00:00,-41,1750,956,310,202,142,12,1142,6747,585,60,8603,0
3,2021-01-01 03:00:00,-42,1554,953,307,202,148,13,1143,6499,583,1,8856,0
4,2021-01-01 04:00:00,-43,1569,957,306,202,176,12,1143,6703,633,17,8429,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17515,2022-12-31 19:00:00,-27,3714,901,240,214,218,2,2246,8995,2092,1081,6746,0
17516,2022-12-31 20:00:00,-28,4078,900,253,214,213,2,2246,8614,2064,777,6373,0
17517,2022-12-31 21:00:00,-36,3580,900,286,214,207,3,2245,8828,1765,259,6838,0
17518,2022-12-31 22:00:00,-37,3161,900,287,211,201,2,2243,9275,1287,450,6477,0
17519,2022-12-31 23:00:00,-37,2914,902,286,211,200,3,2244,8533,1308,384,6527,0

In [12]:
gas_price_df = pd.read_csv('gas_price_preprocessed.csv', sep=',')

# convert time (string) to timestamp
gas_price_df['Time'] = gas_price_df['Time'].apply(pd.Timestamp)

# rename column
gas_price_df = gas_price_df.rename(columns={'Price': 'Gas Price'})

In [13]:
gas_price_df

                     Time Fuel Region Id  Gas Price
0     2021-01-01 00:00:00     FRBANCSMUD       3.63
1     2021-01-01 01:00:00     FRBANCSMUD       3.63
2     2021-01-01 02:00:00     FRBANCSMUD       3.63
3     2021-01-01 03:00:00     FRBANCSMUD       3.63
4     2021-01-01 04:00:00     FRBANCSMUD       3.63
...                   ...            ...        ...
17515 2022-12-31 19:00:00     FRBANCSMUD      15.79
17516 2022-12-31 20:00:00     FRBANCSMUD      15.79
17517 2022-12-31 21:00:00     FRBANCSMUD      15.79
17518 2022-12-31 22:00:00     FRBANCSMUD      15.79
17519 2022-12-31 23:00:00     FRBANCSMUD      15.79

[17520 rows x 3 columns]

In [14]:
ghg_df = pd.read_csv('GHG_hourly_preprocessed.csv', sep=',')

# rename column
ghg_df = ghg_df.rename(columns={'index': 'Time'})

# convert time (string) to timestamp
ghg_df['Time'] = ghg_df['Time'].apply(pd.Timestamp)

# remove un-used columns
ghg_df = ghg_df.drop(columns=['Unnamed: 0'])

In [15]:
ghg_df

                     Time  GHG Allowance Price
0     2021-01-01 00:00:00                17.45
1     2021-01-01 01:00:00                17.45
2     2021-01-01 02:00:00                17.45
3     2021-01-01 03:00:00                17.45
4     2021-01-01 04:00:00                17.45
...                   ...                  ...
17492 2022-12-30 20:00:00                28.54
17493 2022-12-30 21:00:00                28.54
17494 2022-12-30 22:00:00                28.54
17495 2022-12-30 23:00:00                28.54
17496 2022-12-31 00:00:00                28.54

[17497 rows x 2 columns]

In [16]:
lmp_df = pd.read_csv('lmp_df_preprocessed.csv', sep='\t')

# convert time (string) to timestamp
lmp_df['Time'] = lmp_df['Time'].apply(lambda x: pd.Timestamp(x, tz='US/Pacific'))

# remove timezone
lmp_df['Time'] = lmp_df['Time'].dt.tz_localize(None)

# remove un-used columns
lmp_df = lmp_df.drop(columns=['Unnamed: 0', 'Interval Start'])

In [17]:
lmp_df

,Time,Market,Location,Location Type,LMP,Energy,Congestion,Loss,LMP_Norm,Energy_Norm,Congestion_Norm,Loss_Norm
0,2021-01-01 00:00:00,DAY_AHEAD_HOURLY,CATALYST_7_N002,NaN,35.19269,34.68627,0.0,0.50642,0.102169,0.029449,0.301568,0.378454
1,2021-01-01 01:00:00,DAY_AHEAD_HOURLY,CATALYST_7_N002,NaN,33.24291,32.70009,0.0,0.54282,0.100805,0.027973,0.301568,0.378942
2,2021-01-01 02:00:00,DAY_AHEAD_HOURLY,CATALYST_7_N002,NaN,34.50767,33.83769,0.0,0.66999,0.101690,0.028818,0.301568,0.380648
3,2021-01-01 03:00:00,DAY_AHEAD_HOURLY,CATALYST_7_N002,NaN,33.77173,33.12253,0.0,0.64920,0.101175,0.028287,0.301568,0.380369
4,2021-01-01 04:00:00,DAY_AHEAD_HOURLY,CATALYST_7_N002,NaN,35.15909,34.40224,0.0,0.75685,0.102145,0.029238,0.301568,0.381814
...,...,...,...,...,...,...,...,...,...,...,...,...
17515,2022-12-31 19:00:00,DAY_AHEAD_HOURLY,CATALYST_7_N002,NaN,144.77129,140.78702,0.0,3.98427,0.178786,0.108320,0.301568,0.425120
17516,2022-12-31 20:00:00,DAY_AHEAD_HOURLY,CATALYST_7_N002,NaN,139.04941,135.76392,0.0,3.28549,0.174785,0.104586,0.301568,0.415743
17517,2022-12-31 21:00:00,DAY_AHEAD_HOURLY,CATALYST_7_N002,NaN,131.07526,128.26624,0.0,2.80903,0.169210,0.099013,0.301568,0.409350
17518,2022-12-31 22:00:00,DAY_AHEAD_HOURLY,CATALYST_7_N002,NaN,123.50517,121.29756,0.0,2.20762,0.163917,0.093832,0.301568,0.401280
17519,2022-12-31 23:00:00,DAY_AHEAD_HOURLY,CATALYST_7_N002,NaN,121.59557,119.84582,0.0,1.74975,0.162582,0.092753,0.301568,0.395137

In [18]:
solar_local_df = pd.read_csv('solar_local_preprocessed.csv', sep='\t')

# convert time (string) to timestamp
solar_local_df['Time'] = solar_local_df['Time'].apply(lambda x: pd.Timestamp(x, tz='US/Pacific'))

# remove timezone
solar_local_df['Time'] = solar_local_df['Time'].dt.tz_localize(None)

# remove un-used columns
solar_local_df = solar_local_df.drop(columns=['Unnamed: 0'])

# add prefix
solar_local_df = solar_local_df.set_index(['Time']).add_prefix('solar_local_').reset_index()

In [19]:
solar_local_df

,Time,solar_local_Curtailment Type,solar_local_Curtailment Reason,solar_local_Fuel Type,solar_local_Curtailment (MWh),solar_local_Curtailment (MW)
0,2021-01-01 07:00:00,Economic,Local,Solar,8.0,41.0
1,2021-01-01 08:00:00,Economic,Local,Solar,15.0,0.0
2,2021-01-01 09:00:00,Economic,Local,Solar,196.0,226.0
3,2021-01-01 10:00:00,Economic,Local,Solar,251.0,322.0
4,2021-01-01 11:00:00,Economic,Local,Solar,263.0,392.0
...,...,...,...,...,...,...
9772,2022-12-30 10:00:00,Economic,Local,Solar,14.0,0.0
9773,2022-12-30 11:00:00,Economic,Local,Solar,10.0,0.0
9774,2022-12-30 12:00:00,Economic,Local,Solar,32.0,163.0
9775,2022-12-30 13:00:00,Economic,Local,Solar,11.0,0.0
9776,2022-12-30 14:00:00,Economic,Local,Solar,9.0,29.0

In [20]:
solar_system_df = pd.read_csv('solar_system_preprocessed.csv', sep='\t')

# convert time (string) to timestamp
solar_system_df['Time'] = solar_system_df['Time'].apply(lambda x: pd.Timestamp(x, tz='US/Pacific'))

# remove timezone
solar_system_df['Time'] = solar_system_df['Time'].dt.tz_localize(None)

# add prefix
solar_system_df = solar_system_df.set_index(['Time']).add_prefix('solar_system_').reset_index()

In [21]:
solar_system_df

,Time,solar_system_Curtailment Type,solar_system_Curtailment Reason,solar_system_Fuel Type,solar_system_Curtailment (MWh),solar_system_Curtailment (MW)
0,2021-01-01 07:00:00,Economic,System,Solar,12.0,0.0
1,2021-01-01 08:00:00,Economic,System,Solar,69.0,274.0
2,2021-01-01 09:00:00,Economic,System,Solar,219.0,658.0
3,2021-01-01 10:00:00,Economic,System,Solar,1.0,0.0
4,2021-01-01 13:00:00,Economic,System,Solar,2.0,0.0
...,...,...,...,...,...,...
4099,2022-12-29 14:00:00,Economic,System,Solar,2.0,22.0
4100,2022-12-30 09:00:00,Economic,System,Solar,29.0,104.0
4101,2022-12-30 10:00:00,Economic,System,Solar,21.0,62.0
4102,2022-12-30 11:00:00,Economic,System,Solar,6.0,55.0
4103,2022-12-30 16:00:00,Economic,System,Solar,1.0,16.0

In [22]:
solcast_df = pd.read_csv('Solcast_2021_2022_PST_preprocessed.csv', sep='\t')

# rename column
solcast_df = solcast_df.rename(columns={'PeriodStart': 'Time'})

# add timezone to string
solcast_df['Time'] = solcast_df['Time'].apply(lambda x: x+'+00:00')

# convert time (string) to timestamp
solcast_df['Time'] = solcast_df['Time'].apply(lambda x: pd.Timestamp(x, tz='US/Pacific'))

# remove timezone
solcast_df['Time'] = solcast_df['Time'].dt.tz_localize(None)

# remove un-used columns
solcast_df = solcast_df.drop(columns=['Unnamed: 0', 'Period', 'PeriodEnd'])

In [23]:
solcast_df

,Time,AirTemp,Azimuth,CloudOpacity,DewpointTemp,Dhi,Dni,Ebh,Ghi,GtiFixedTilt,...,Ghi_norm,GtiFixedTilt_norm,GtiTracking_norm,PrecipitableWater_norm,RelativeHumidity_norm,SurfacePressure_norm,WindDirection10m_norm,WindSpeed10m_norm,Zenith_norm,AlbedoDaily_norm
0,2021-01-01 00:00:00,6.1,-17,0.0,3.6,0,0,0,0,0,...,0.0,0.0,0.0,0.222488,0.829348,0.624161,0.011111,0.185185,1.000000,0.75
1,2021-01-01 01:00:00,5.6,-55,0.0,3.2,0,0,0,0,0,...,0.0,0.0,0.0,0.229665,0.831522,0.624161,0.066667,0.148148,0.953333,0.50
2,2021-01-01 02:00:00,5.6,-74,0.0,3.1,0,0,0,0,0,...,0.0,0.0,0.0,0.241627,0.825000,0.627517,0.166667,0.148148,0.880000,0.50
3,2021-01-01 03:00:00,4.9,-86,0.0,2.4,0,0,0,0,0,...,0.0,0.0,0.0,0.255981,0.825000,0.624161,0.208333,0.172840,0.800000,0.50
4,2021-01-01 04:00:00,4.0,-95,0.0,1.6,0,0,0,0,0,...,0.0,0.0,0.0,0.265550,0.827174,0.617450,0.227778,0.160494,0.720000,0.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17515,2022-12-31 19:00:00,9.2,98,71.8,7.4,0,0,0,0,0,...,0.0,0.0,0.0,0.392344,0.875000,0.127517,0.863889,0.543210,0.693333,0.00
17516,2022-12-31 20:00:00,9.4,89,56.6,7.6,0,0,0,0,0,...,0.0,0.0,0.0,0.349282,0.878261,0.144295,0.850000,0.530864,0.773333,0.00
17517,2022-12-31 21:00:00,9.5,79,24.8,7.8,0,0,0,0,0,...,0.0,0.0,0.0,0.299043,0.888043,0.161074,0.844444,0.555556,0.853333,0.00
17518,2022-12-31 22:00:00,9.5,63,14.6,7.9,0,0,0,0,0,...,0.0,0.0,0.0,0.260766,0.884783,0.174497,0.836111,0.567901,0.926667,0.00
17519,2022-12-31 23:00:00,9.6,33,19.3,8.0,0,0,0,0,0,...,0.0,0.0,0.0,0.236842,0.889130,0.191275,0.825000,0.567901,0.986667,0.00

In [24]:
wind_local_df = pd.read_csv('wind_local_preprocessed.csv', sep='\t')

# convert time (string) to timestamp
wind_local_df['Time'] = wind_local_df['Time'].apply(lambda x: pd.Timestamp(x, tz='US/Pacific'))

# remove timezone
wind_local_df['Time'] = wind_local_df['Time'].dt.tz_localize(None)

# remove un-used columns
wind_local_df = wind_local_df.drop(columns=['Unnamed: 0'])

# add prefix
wind_local_df = wind_local_df.set_index(['Time']).add_prefix('wind_local_').reset_index()

In [25]:
wind_local_df

,Time,wind_local_Curtailment Type,wind_local_Curtailment Reason,wind_local_Fuel Type,wind_local_Curtailment (MWh),wind_local_Curtailment (MW)
0,2021-01-01 08:00:00,Economic,Local,Wind,2.0,0.0
1,2021-01-01 09:00:00,Economic,Local,Wind,6.0,0.0
2,2021-01-01 10:00:00,Economic,Local,Wind,3.0,7.0
3,2021-01-01 11:00:00,Economic,Local,Wind,0.0,0.0
4,2021-01-01 12:00:00,Economic,Local,Wind,1.0,0.0
...,...,...,...,...,...,...
4300,2022-12-30 13:00:00,Economic,Local,Wind,10.0,74.0
4301,2022-12-30 14:00:00,Economic,Local,Wind,4.0,4.0
4302,2022-12-30 15:00:00,Economic,Local,Wind,0.0,0.0
4303,2022-12-30 22:00:00,Economic,Local,Wind,1.0,6.0
4304,2022-12-30 23:00:00,Economic,Local,Wind,3.0,0.0

In [26]:
wind_system_df = pd.read_csv('wind_system_preprocessed.csv', sep='\t')

# convert time (string) to timestamp
wind_system_df['Time'] = wind_system_df['Time'].apply(lambda x: pd.Timestamp(x, tz='US/Pacific'))

# remove timezone
wind_system_df['Time'] = wind_system_df['Time'].dt.tz_localize(None)

# remove un-used columns
wind_system_df = wind_system_df.drop(columns=['Unnamed: 0'])

# add prefix
wind_system_df = wind_system_df.set_index(['Time']).add_prefix('wind_system_').reset_index()

In [27]:
wind_system_df

,Time,wind_system_Curtailment Type,wind_system_Curtailment Reason,wind_system_Fuel Type,wind_system_Curtailment (MWh),wind_system_Curtailment (MW)
0,2021-01-01 08:00:00,Economic,System,Wind,5.0,15.0
1,2021-01-01 09:00:00,Economic,System,Wind,9.0,2.0
2,2021-01-01 10:00:00,Economic,System,Wind,2.0,0.0
3,2021-01-01 11:00:00,Economic,System,Wind,0.0,0.0
4,2021-01-02 08:00:00,Economic,System,Wind,11.0,0.0
...,...,...,...,...,...,...
1747,2022-12-30 11:00:00,Economic,System,Wind,1.0,2.0
1748,2022-12-30 14:00:00,Economic,System,Wind,1.0,0.0
1749,2022-12-30 15:00:00,Economic,System,Wind,7.0,76.0
1750,2022-12-30 22:00:00,Economic,System,Wind,0.0,0.0
1751,2022-12-30 23:00:00,Economic,System,Wind,3.0,7.0

#### Merge

In [28]:
df = pd.merge(pv_sim_df, load_df, on='Time', how='left')
df = pd.merge(df, get_as_prices_df, on='Time', how='left')
df = pd.merge(df, get_load_forecast_df, on='Time', how='left')
df = pd.merge(df, fuel_mix_df, on='Time', how='left')
df = pd.merge(df, gas_price_df, on='Time', how='left')
df = pd.merge(df, ghg_df, on='Time', how='left')
df = pd.merge(df, lmp_df, on='Time', how='left')
df = pd.merge(df, solar_local_df, on='Time', how='left')
df = pd.merge(df, solar_system_df, on='Time', how='left')
df = pd.merge(df, wind_local_df, on='Time', how='left')
df = pd.merge(df, wind_system_df, on='Time', how='left')

# remove row with duplicate time
df = df.drop_duplicates(subset=['Time'], keep='last').reset_index(drop=True)

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17520 entries, 0 to 17519
Data columns (total 59 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Time                                17520 non-null  datetime64[ns]
 1   PV_kwAC_out                         17520 non-null  float64
 2   PV_kwAC_out_Norm                    17520 non-null  float64
 3   Load                                17494 non-null  float64
 4   Non-Spinning Reserves Total (MW)    17494 non-null  float64
 5   Regulation Down Total (MW)          17494 non-null  float64
 6   Regulation Mileage Down Total (MW)  17494 non-null  float64
 7   Regulation Mileage Up Total (MW)    17494 non-null  float64
 8   Regulation Up Total (MW)            17494 non-null  float64
 9   Total Volume(MW)                    17494 non-null  float64
 10  Load Forecast                       17518 non-null  float64
 11  Load_Forecast_Norm                  17518 non-null  float64
 12  Solar                               17518 non-null  float64
 13  Wind                                17518 non-null  float64
 14  Geothermal                          17518 non-null  float64
 15  Biomass                             17518 non-null  float64
 16  Biogas                              17518 non-null  float64
 17  Small Hydro                         17518 non-null  float64
 18  Coal                                17518 non-null  float64
 19  Nuclear                             17518 non-null  float64
 20  Natural Gas                         17518 non-null  float64
 21  Large Hydro                         17518 non-null  float64
 22  Batteries                           17518 non-null  float64
 23  Imports                             17518 non-null  float64
 24  Other                               17518 non-null  float64
 25  Fuel Region Id                      17518 non-null  object
 26  Gas Price                           17518 non-null  float64
 27  GHG Allowance Price                 17497 non-null  float64
 28  Market                              17518 non-null  object
 29  Location                            17518 non-null  object
 30  Location Type                       0 non-null      float64
 31  LMP                                 17518 non-null  float64
 32  Energy                              17518 non-null  float64
 33  Congestion                          17518 non-null  float64
 34  Loss                                17518 non-null  float64
 35  LMP_Norm                            17518 non-null  float64
 36  Energy_Norm                         17518 non-null  float64
 37  Congestion_Norm                     17518 non-null  float64
 38  Loss_Norm                           17518 non-null  float64
 39  solar_local_Curtailment Type        7727 non-null   object
 40  solar_local_Curtailment Reason      7727 non-null   object
 41  solar_local_Fuel Type               7727 non-null   object
 42  solar_local_Curtailment (MWh)       7727 non-null   float64
 43  solar_local_Curtailment (MW)        7727 non-null   float64
 44  solar_system_Curtailment Type       4104 non-null   object
 45  solar_system_Curtailment Reason     4104 non-null   object
 46  solar_system_Fuel Type              4104 non-null   object
 47  solar_system_Curtailment (MWh)      4104 non-null   float64
 48  solar_system_Curtailment (MW)       4104 non-null   float64
 49  wind_local_Curtailment Type         4195 non-null   object
 50  wind_local_Curtailment Reason       4195 non-null   object
 51  wind_local_Fuel Type                4195 non-null   object
 52  wind_local_Curtailment (MWh)        4195 non-null   float64
 53  wind_local_Curtailment (MW)         4195 non-null   float64
 54  wind_system_Curtailment Type        1752 non-null   object
 55  wind_system_Curtailment Reason      1752 non-null   object
 56  wind_system_Fuel Type               1752 non-null   object
 57  wind_system_Curtailment (MWh)       1752 non-null   float64
 58  wind_system_Curtailment (MW)        1752 non-null   float64
dtypes: datetime64[ns](1), float64(43), object(15)
memory usage: 7.9+ MB

In [30]:
df.describe()

,PV_kwAC_out,PV_kwAC_out_Norm,Load,Non-Spinning Reserves Total (MW),Regulation Down Total (MW),Regulation Mileage Down Total (MW),Regulation Mileage Up Total (MW),Regulation Up Total (MW),Total Volume(MW),Load Forecast,...,Congestion_Norm,Loss_Norm,solar_local_Curtailment (MWh),solar_local_Curtailment (MW),solar_system_Curtailment (MWh),solar_system_Curtailment (MW),wind_local_Curtailment (MWh),wind_local_Curtailment (MW),wind_system_Curtailment (MWh),wind_system_Curtailment (MW)
count,17520.000000,17520.000000,17494.000000,17494.000000,17494.000000,17494.0,17494.0,17494.000000,17494.000000,17518.000000,...,17518.000000,17518.000000,7727.000000,7727.000000,4104.000000,4104.000000,4195.000000,4195.000000,1752.000000,1752.000000
mean,0.574945,0.228126,299650.828741,906.853552,606.315599,0.0,0.0,373.473852,1886.643003,24981.437610,...,0.303939,0.392843,227.189077,319.335991,172.977851,260.891618,35.716591,51.770536,29.337329,47.381279
std,0.778018,0.308701,60179.231696,179.469883,264.772515,0.0,0.0,138.188237,385.898862,5089.179126,...,0.016796,0.032775,548.149108,678.401104,602.007385,757.928876,64.904869,85.069370,72.796391,97.309269
min,0.000000,0.000000,166604.000000,409.570000,110.830000,0.0,0.0,42.840000,909.740000,14616.430000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,256967.250000,761.302500,410.890000,0.0,0.0,289.890000,1612.457500,21365.100000,...,0.301568,0.379088,3.000000,6.000000,1.000000,0.000000,2.000000,2.000000,1.000000,0.000000
50%,0.002900,0.001151,287534.000000,885.075000,563.020000,0.0,0.0,330.000000,1865.135000,23920.665000,...,0.301568,0.389708,28.000000,53.000000,5.000000,6.000000,8.000000,14.000000,6.000000,12.000000
75%,1.159175,0.459935,323496.000000,1054.667500,770.000000,0.0,0.0,445.132500,2129.265000,27022.955000,...,0.302067,0.401471,154.000000,258.000000,29.000000,70.250000,38.000000,62.000000,24.000000,42.000000
max,2.520300,1.000000,613160.000000,1625.720000,1800.000000,0.0,0.0,1412.560000,3719.090000,51317.220000,...,1.000000,1.000000,5268.000000,5556.000000,6980.000000,7198.000000,615.000000,728.000000,735.000000,797.000000

In [31]:
df

,Time,PV_kwAC_out,PV_kwAC_out_Norm,Load,Non-Spinning Reserves Total (MW),Regulation Down Total (MW),Regulation Mileage Down Total (MW),Regulation Mileage Up Total (MW),Regulation Up Total (MW),Total Volume(MW),...,wind_local_Curtailment Type,wind_local_Curtailment Reason,wind_local_Fuel Type,wind_local_Curtailment (MWh),wind_local_Curtailment (MW),wind_system_Curtailment Type,wind_system_Curtailment Reason,wind_system_Fuel Type,wind_system_Curtailment (MWh),wind_system_Curtailment (MW)
0,2021-01-01 00:00:00,0.0,0.0,258190.0,1108.5,459.89,0.0,0.0,230.76,1799.15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-01-01 01:00:00,0.0,0.0,247591.0,1086.0,429.89,0.0,0.0,226.26,1742.15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-01-01 02:00:00,0.0,0.0,239411.0,1096.5,409.89,0.0,0.0,223.74,1730.13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-01-01 03:00:00,0.0,0.0,235442.0,1100.5,389.89,0.0,0.0,226.74,1717.13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-01-01 04:00:00,0.0,0.0,234975.0,1062.5,399.89,0.0,0.0,240.14,1702.53,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17515,2022-12-31 19:00:00,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17516,2022-12-31 20:00:00,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17517,2022-12-31 21:00:00,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17518,2022-12-31 22:00:00,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17519,2022-12-31 23:00:00,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
df.to_csv('data_processed.csv', index=False)