In [1]:
import pandas as pd

#### Preprocess

In [2]:
pv_sim_df = pd.read_csv('2021_2022_PV_sim_PST_preprocessed.csv', sep='\t')

# convert time (string) to timestamp
pv_sim_df['Time'] = pv_sim_df['Time'].apply(pd.Timestamp)

# remove timezone
pv_sim_df['Time'] = pv_sim_df['Time'].dt.tz_localize(None)

# sort by time
pv_sim_df.sort_values(by=['Time']).reset_index(drop=True)

# remove un-used columns
pv_sim_df = pv_sim_df.drop(columns=['Unnamed: 0', 'Time_local'])

In [3]:
pv_sim_df

                     Time  PV_kwAC_out  PV_kwAC_out_Norm
0     2021-01-01 00:00:00          0.0               0.0
1     2021-01-01 01:00:00          0.0               0.0
2     2021-01-01 02:00:00          0.0               0.0
3     2021-01-01 03:00:00          0.0               0.0
4     2021-01-01 04:00:00          0.0               0.0
...                   ...          ...               ...
17515 2022-12-31 19:00:00          0.0               0.0
17516 2022-12-31 20:00:00          0.0               0.0
17517 2022-12-31 21:00:00          0.0               0.0
17518 2022-12-31 22:00:00          0.0               0.0
17519 2022-12-31 23:00:00          0.0               0.0

[17520 rows x 3 columns]

In [4]:
load_df = pd.read_csv('caiso_load_hourly_preprocessed.csv', sep=',')

# convert time (string) to timestamp
#load_df['Time'] = load_df['Time'].apply(lambda x: pd.Timestamp(x, tz='US/Pacific'))
load_df['Time'] = load_df['Time'].apply(pd.Timestamp)

# remove timezone
load_df['Time'] = load_df['Time'].dt.tz_localize(None)

In [5]:
load_df

                     Time      Load
0     2021-01-01 00:00:00  283609.0
1     2021-01-01 01:00:00  316463.0
2     2021-01-01 02:00:00  321465.0
3     2021-01-01 03:00:00  312244.0
4     2021-01-01 04:00:00  302466.0
...                   ...       ...
17515 2022-12-31 19:00:00  275203.0
17516 2022-12-31 20:00:00  278347.0
17517 2022-12-31 21:00:00  279383.0
17518 2022-12-31 22:00:00  281614.0
17519 2022-12-31 23:00:00  286800.0

[17520 rows x 2 columns]

In [6]:
get_as_prices_df = pd.read_csv('df_get_as_prices_preprocessed.csv', sep='\t')

# convert time (string) to timestamp
get_as_prices_df['Time'] = get_as_prices_df['Time'].apply(lambda x: pd.Timestamp(x, tz='US/Pacific'))

# remove timezone
get_as_prices_df['Time'] = get_as_prices_df['Time'].dt.tz_localize(None)

# remove un-used columns
get_as_prices_df = get_as_prices_df.drop(columns=['Unnamed: 0'])

In [7]:
get_as_prices_df

,Time,Non-Spinning Reserves Total (MW),Regulation Down Total (MW),Regulation Mileage Down Total (MW),Regulation Mileage Up Total (MW),Regulation Up Total (MW),Total Volume(MW)
0,2021-01-01 00:00:00,1108.50,459.89,0.0,0.0,230.76,1799.15
1,2021-01-01 01:00:00,1086.00,429.89,0.0,0.0,226.26,1742.15
2,2021-01-01 02:00:00,1096.50,409.89,0.0,0.0,223.74,1730.13
3,2021-01-01 03:00:00,1100.50,389.89,0.0,0.0,226.74,1717.13
4,2021-01-01 04:00:00,1062.50,399.89,0.0,0.0,240.14,1702.53
...,...,...,...,...,...,...,...
17515,2022-12-31 19:00:00,787.16,570.00,0.0,0.0,562.35,1919.51
17516,2022-12-31 20:00:00,760.76,600.00,0.0,0.0,620.89,1981.65
17517,2022-12-31 21:00:00,737.04,590.00,0.0,0.0,650.83,1977.87
17518,2022-12-31 22:00:00,710.03,630.00,0.0,0.0,546.73,1886.76
17519,2022-12-31 23:00:00,679.77,850.00,0.0,0.0,574.67,2104.44

In [8]:
load_df

                     Time      Load
0     2021-01-01 00:00:00  283609.0
1     2021-01-01 01:00:00  316463.0
2     2021-01-01 02:00:00  321465.0
3     2021-01-01 03:00:00  312244.0
4     2021-01-01 04:00:00  302466.0
...                   ...       ...
17515 2022-12-31 19:00:00  275203.0
17516 2022-12-31 20:00:00  278347.0
17517 2022-12-31 21:00:00  279383.0
17518 2022-12-31 22:00:00  281614.0
17519 2022-12-31 23:00:00  286800.0

[17520 rows x 2 columns]

In [9]:
get_load_forecast_df = pd.read_csv('df_get_load_forecast_preprocessed.csv', sep='\t')

# convert time (string) to timestamp
get_load_forecast_df['Time'] = get_load_forecast_df['Time'].apply(lambda x: pd.Timestamp(x, tz='US/Pacific'))

# remove timezone
get_load_forecast_df['Time'] = get_load_forecast_df['Time'].dt.tz_localize(None)

# remove un-used columns
get_load_forecast_df = get_load_forecast_df.drop(columns=['Unnamed: 0', 'Forecast Time', 
                                                          'Interval Start', 'Interval End'])

In [10]:
get_load_forecast_df

                     Time  Load Forecast  Load_Forecast_Norm
0     2021-01-01 00:00:00       21433.07            0.185736
1     2021-01-01 01:00:00       20637.49            0.164058
2     2021-01-01 02:00:00       20077.64            0.148804
3     2021-01-01 03:00:00       19592.67            0.135589
4     2021-01-01 04:00:00       19527.81            0.133822
...                   ...            ...                 ...
17515 2022-12-31 19:00:00       25297.51            0.291031
17516 2022-12-31 20:00:00       24463.21            0.268299
17517 2022-12-31 21:00:00       23822.35            0.250837
17518 2022-12-31 22:00:00       23038.79            0.229487
17519 2022-12-31 23:00:00       22090.15            0.203639

[17520 rows x 3 columns]

In [11]:
fuel_mix_df = pd.read_csv('fuel_mix_preprocessed.csv', sep=',')

# convert time (string) to timestamp
fuel_mix_df['Time'] = fuel_mix_df['Time'].apply(pd.Timestamp)

In [12]:
fuel_mix_df

,Time,Solar,Wind,Geothermal,Biomass,Biogas,Small Hydro,Coal,Nuclear,Natural Gas,Large Hydro,Batteries,Imports,Other
0,2021-01-01 00:00:00,-41,1449,957,308,202,142,12,1143,7846,690,62,9222,0
1,2021-01-01 01:00:00,-41,1624,956,308,203,141,12,1142,7290,626,83,8810,0
2,2021-01-01 02:00:00,-41,1750,956,310,202,142,12,1142,6747,585,60,8603,0
3,2021-01-01 03:00:00,-42,1554,953,307,202,148,13,1143,6499,583,1,8856,0
4,2021-01-01 04:00:00,-43,1569,957,306,202,176,12,1143,6703,633,17,8429,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17515,2022-12-31 19:00:00,-27,3714,901,240,214,218,2,2246,8995,2092,1081,6746,0
17516,2022-12-31 20:00:00,-28,4078,900,253,214,213,2,2246,8614,2064,777,6373,0
17517,2022-12-31 21:00:00,-36,3580,900,286,214,207,3,2245,8828,1765,259,6838,0
17518,2022-12-31 22:00:00,-37,3161,900,287,211,201,2,2243,9275,1287,450,6477,0
17519,2022-12-31 23:00:00,-37,2914,902,286,211,200,3,2244,8533,1308,384,6527,0

In [13]:
gas_price_df = pd.read_csv('gas_price_preprocessed.csv', sep=',')

# convert time (string) to timestamp
gas_price_df['Time'] = gas_price_df['Time'].apply(pd.Timestamp)

# rename column
gas_price_df = gas_price_df.rename(columns={'Price': 'Gas Price'})

In [14]:
gas_price_df

                     Time Fuel Region Id  Gas Price
0     2021-01-01 00:00:00     FRBANCSMUD       3.63
1     2021-01-01 01:00:00     FRBANCSMUD       3.63
2     2021-01-01 02:00:00     FRBANCSMUD       3.63
3     2021-01-01 03:00:00     FRBANCSMUD       3.63
4     2021-01-01 04:00:00     FRBANCSMUD       3.63
...                   ...            ...        ...
17515 2022-12-31 19:00:00     FRBANCSMUD      15.79
17516 2022-12-31 20:00:00     FRBANCSMUD      15.79
17517 2022-12-31 21:00:00     FRBANCSMUD      15.79
17518 2022-12-31 22:00:00     FRBANCSMUD      15.79
17519 2022-12-31 23:00:00     FRBANCSMUD      15.79

[17520 rows x 3 columns]

In [15]:
ghg_df = pd.read_csv('GHG_hourly_preprocessed.csv', sep=',')

# rename column
ghg_df = ghg_df.rename(columns={'index': 'Time'})

# convert time (string) to timestamp
ghg_df['Time'] = ghg_df['Time'].apply(pd.Timestamp)

In [16]:
ghg_df

                     Time  GHG Allowance Price
0     2021-01-01 00:00:00                17.45
1     2021-01-01 01:00:00                17.45
2     2021-01-01 02:00:00                17.45
3     2021-01-01 03:00:00                17.45
4     2021-01-01 04:00:00                17.45
...                   ...                  ...
17515 2022-12-31 19:00:00                28.54
17516 2022-12-31 20:00:00                28.54
17517 2022-12-31 21:00:00                28.54
17518 2022-12-31 22:00:00                28.54
17519 2022-12-31 23:00:00                28.54

[17520 rows x 2 columns]

In [17]:
lmp_df = pd.read_csv('lmp_df_preprocessed.csv', sep='\t')

# convert time (string) to timestamp
lmp_df['Time'] = lmp_df['Time'].apply(lambda x: pd.Timestamp(x, tz='US/Pacific'))

# remove timezone
lmp_df['Time'] = lmp_df['Time'].dt.tz_localize(None)

# remove un-used columns
lmp_df = lmp_df.drop(columns=['Unnamed: 0', 'Interval Start'])

In [18]:
lmp_df

,Time,Market,Location,Location Type,LMP,Energy,Congestion,Loss,LMP_Norm,Energy_Norm,Congestion_Norm,Loss_Norm
0,2021-01-01 00:00:00,DAY_AHEAD_HOURLY,CATALYST_7_N002,NaN,35.19269,34.68627,0.0,0.50642,0.102169,0.029449,0.301568,0.378454
1,2021-01-01 01:00:00,DAY_AHEAD_HOURLY,CATALYST_7_N002,NaN,33.24291,32.70009,0.0,0.54282,0.100805,0.027973,0.301568,0.378942
2,2021-01-01 02:00:00,DAY_AHEAD_HOURLY,CATALYST_7_N002,NaN,34.50767,33.83769,0.0,0.66999,0.101690,0.028818,0.301568,0.380648
3,2021-01-01 03:00:00,DAY_AHEAD_HOURLY,CATALYST_7_N002,NaN,33.77173,33.12253,0.0,0.64920,0.101175,0.028287,0.301568,0.380369
4,2021-01-01 04:00:00,DAY_AHEAD_HOURLY,CATALYST_7_N002,NaN,35.15909,34.40224,0.0,0.75685,0.102145,0.029238,0.301568,0.381814
...,...,...,...,...,...,...,...,...,...,...,...,...
17515,2022-12-31 19:00:00,DAY_AHEAD_HOURLY,CATALYST_7_N002,NaN,144.77129,140.78702,0.0,3.98427,0.178786,0.108320,0.301568,0.425120
17516,2022-12-31 20:00:00,DAY_AHEAD_HOURLY,CATALYST_7_N002,NaN,139.04941,135.76392,0.0,3.28549,0.174785,0.104586,0.301568,0.415743
17517,2022-12-31 21:00:00,DAY_AHEAD_HOURLY,CATALYST_7_N002,NaN,131.07526,128.26624,0.0,2.80903,0.169210,0.099013,0.301568,0.409350
17518,2022-12-31 22:00:00,DAY_AHEAD_HOURLY,CATALYST_7_N002,NaN,123.50517,121.29756,0.0,2.20762,0.163917,0.093832,0.301568,0.401280
17519,2022-12-31 23:00:00,DAY_AHEAD_HOURLY,CATALYST_7_N002,NaN,121.59557,119.84582,0.0,1.74975,0.162582,0.092753,0.301568,0.395137

In [19]:
solar_local_df = pd.read_csv('solar_local_preprocessed.csv', sep='\t')

# convert time (string) to timestamp
solar_local_df['Time'] = solar_local_df['Time'].apply(lambda x: pd.Timestamp(x, tz='US/Pacific'))

# remove timezone
solar_local_df['Time'] = solar_local_df['Time'].dt.tz_localize(None)

# remove un-used columns
solar_local_df = solar_local_df.drop(columns=['Unnamed: 0'])

# add prefix
solar_local_df = solar_local_df.set_index(['Time']).add_prefix('solar_local_').reset_index()

In [20]:
solar_local_df

,Time,solar_local_Curtailment Type,solar_local_Curtailment Reason,solar_local_Fuel Type,solar_local_Curtailment (MWh),solar_local_Curtailment (MW)
0,2021-01-01 07:00:00,Economic,Local,Solar,8.0,41.0
1,2021-01-01 08:00:00,Economic,Local,Solar,15.0,0.0
2,2021-01-01 09:00:00,Economic,Local,Solar,196.0,226.0
3,2021-01-01 10:00:00,Economic,Local,Solar,251.0,322.0
4,2021-01-01 11:00:00,Economic,Local,Solar,263.0,392.0
...,...,...,...,...,...,...
9773,2022-12-30 11:00:00,Economic,Local,Solar,10.0,0.0
9774,2022-12-30 12:00:00,Economic,Local,Solar,32.0,163.0
9775,2022-12-30 13:00:00,Economic,Local,Solar,11.0,0.0
9776,2022-12-30 14:00:00,Economic,Local,Solar,9.0,29.0
9777,2022-12-31 09:00:00,Economic,Local,Solar,1.0,7.0

In [21]:
solar_system_df = pd.read_csv('solar_system_preprocessed.csv', sep='\t')

# convert time (string) to timestamp
solar_system_df['Time'] = solar_system_df['Time'].apply(lambda x: pd.Timestamp(x, tz='US/Pacific'))

# remove timezone
solar_system_df['Time'] = solar_system_df['Time'].dt.tz_localize(None)

# remove un-used columns
solar_system_df = solar_system_df.drop(columns=['Unnamed: 0'])

# add prefix
solar_system_df = solar_system_df.set_index(['Time']).add_prefix('solar_system_').reset_index()

In [22]:
solar_system_df

,Time,solar_system_Curtailment Type,solar_system_Curtailment Reason,solar_system_Fuel Type,solar_system_Curtailment (MWh),solar_system_Curtailment (MW)
0,2021-01-01 07:00:00,Economic,System,Solar,12.0,0.0
1,2021-01-01 08:00:00,Economic,System,Solar,69.0,274.0
2,2021-01-01 09:00:00,Economic,System,Solar,219.0,658.0
3,2021-01-01 10:00:00,Economic,System,Solar,1.0,0.0
4,2021-01-01 13:00:00,Economic,System,Solar,2.0,0.0
...,...,...,...,...,...,...
4101,2022-12-30 10:00:00,Economic,System,Solar,21.0,62.0
4102,2022-12-30 11:00:00,Economic,System,Solar,6.0,55.0
4103,2022-12-30 16:00:00,Economic,System,Solar,1.0,16.0
4104,2022-12-31 08:00:00,Economic,System,Solar,1.0,3.0
4105,2022-12-31 11:00:00,Economic,System,Solar,24.0,76.0

In [23]:
solcast_df = pd.read_csv('Solcast_2021_2022_PST_preprocessed.csv', sep='\t')

# rename column
solcast_df = solcast_df.rename(columns={'PeriodStart': 'Time'})

# add timezone to string
solcast_df['Time'] = solcast_df['Time'].apply(lambda x: x+'+00:00')

# convert time (string) to timestamp
solcast_df['Time'] = solcast_df['Time'].apply(lambda x: pd.Timestamp(x, tz='US/Pacific'))

# remove timezone
solcast_df['Time'] = solcast_df['Time'].dt.tz_localize(None)

# remove un-used columns
solcast_df = solcast_df.drop(columns=['Unnamed: 0', 'Period', 'PeriodEnd'])

In [24]:
solcast_df

,Time,AirTemp,Azimuth,CloudOpacity,DewpointTemp,Dhi,Dni,Ebh,Ghi,GtiFixedTilt,...,Ghi_norm,GtiFixedTilt_norm,GtiTracking_norm,PrecipitableWater_norm,RelativeHumidity_norm,SurfacePressure_norm,WindDirection10m_norm,WindSpeed10m_norm,Zenith_norm,AlbedoDaily_norm
0,2021-01-01 00:00:00,6.1,-17,0.0,3.6,0,0,0,0,0,...,0.0,0.0,0.0,0.222488,0.829348,0.624161,0.011111,0.185185,1.000000,0.75
1,2021-01-01 01:00:00,5.6,-55,0.0,3.2,0,0,0,0,0,...,0.0,0.0,0.0,0.229665,0.831522,0.624161,0.066667,0.148148,0.953333,0.50
2,2021-01-01 02:00:00,5.6,-74,0.0,3.1,0,0,0,0,0,...,0.0,0.0,0.0,0.241627,0.825000,0.627517,0.166667,0.148148,0.880000,0.50
3,2021-01-01 03:00:00,4.9,-86,0.0,2.4,0,0,0,0,0,...,0.0,0.0,0.0,0.255981,0.825000,0.624161,0.208333,0.172840,0.800000,0.50
4,2021-01-01 04:00:00,4.0,-95,0.0,1.6,0,0,0,0,0,...,0.0,0.0,0.0,0.265550,0.827174,0.617450,0.227778,0.160494,0.720000,0.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17515,2022-12-31 19:00:00,9.2,98,71.8,7.4,0,0,0,0,0,...,0.0,0.0,0.0,0.392344,0.875000,0.127517,0.863889,0.543210,0.693333,0.00
17516,2022-12-31 20:00:00,9.4,89,56.6,7.6,0,0,0,0,0,...,0.0,0.0,0.0,0.349282,0.878261,0.144295,0.850000,0.530864,0.773333,0.00
17517,2022-12-31 21:00:00,9.5,79,24.8,7.8,0,0,0,0,0,...,0.0,0.0,0.0,0.299043,0.888043,0.161074,0.844444,0.555556,0.853333,0.00
17518,2022-12-31 22:00:00,9.5,63,14.6,7.9,0,0,0,0,0,...,0.0,0.0,0.0,0.260766,0.884783,0.174497,0.836111,0.567901,0.926667,0.00
17519,2022-12-31 23:00:00,9.6,33,19.3,8.0,0,0,0,0,0,...,0.0,0.0,0.0,0.236842,0.889130,0.191275,0.825000,0.567901,0.986667,0.00

In [25]:
wind_local_df = pd.read_csv('wind_local_preprocessed.csv', sep='\t')

# convert time (string) to timestamp
wind_local_df['Time'] = wind_local_df['Time'].apply(lambda x: pd.Timestamp(x, tz='US/Pacific'))

# remove timezone
wind_local_df['Time'] = wind_local_df['Time'].dt.tz_localize(None)

# remove un-used columns
wind_local_df = wind_local_df.drop(columns=['Unnamed: 0'])

# add prefix
wind_local_df = wind_local_df.set_index(['Time']).add_prefix('wind_local_').reset_index()

In [26]:
wind_local_df

,Time,wind_local_Curtailment Type,wind_local_Curtailment Reason,wind_local_Fuel Type,wind_local_Curtailment (MWh),wind_local_Curtailment (MW)
0,2021-01-01 08:00:00,Economic,Local,Wind,2.0,0.0
1,2021-01-01 09:00:00,Economic,Local,Wind,6.0,0.0
2,2021-01-01 10:00:00,Economic,Local,Wind,3.0,7.0
3,2021-01-01 11:00:00,Economic,Local,Wind,0.0,0.0
4,2021-01-01 12:00:00,Economic,Local,Wind,1.0,0.0
...,...,...,...,...,...,...
4308,2022-12-31 04:00:00,Economic,Local,Wind,0.0,0.0
4309,2022-12-31 05:00:00,Economic,Local,Wind,1.0,3.0
4310,2022-12-31 06:00:00,Economic,Local,Wind,0.0,0.0
4311,2022-12-31 07:00:00,Economic,Local,Wind,0.0,2.0
4312,2022-12-31 12:00:00,Economic,Local,Wind,0.0,0.0

In [27]:
wind_system_df = pd.read_csv('wind_system_preprocessed.csv', sep='\t')

# convert time (string) to timestamp
wind_system_df['Time'] = wind_system_df['Time'].apply(lambda x: pd.Timestamp(x, tz='US/Pacific'))

# remove timezone
wind_system_df['Time'] = wind_system_df['Time'].dt.tz_localize(None)

# remove un-used columns
wind_system_df = wind_system_df.drop(columns=['Unnamed: 0'])

# add prefix
wind_system_df = wind_system_df.set_index(['Time']).add_prefix('wind_system_').reset_index()

In [28]:
wind_system_df

,Time,wind_system_Curtailment Type,wind_system_Curtailment Reason,wind_system_Fuel Type,wind_system_Curtailment (MWh),wind_system_Curtailment (MW)
0,2021-01-01 08:00:00,Economic,System,Wind,5.0,15.0
1,2021-01-01 09:00:00,Economic,System,Wind,9.0,2.0
2,2021-01-01 10:00:00,Economic,System,Wind,2.0,0.0
3,2021-01-01 11:00:00,Economic,System,Wind,0.0,0.0
4,2021-01-02 08:00:00,Economic,System,Wind,11.0,0.0
...,...,...,...,...,...,...
1758,2022-12-31 07:00:00,Economic,System,Wind,0.0,0.0
1759,2022-12-31 08:00:00,Economic,System,Wind,1.0,2.0
1760,2022-12-31 11:00:00,Economic,System,Wind,0.0,0.0
1761,2022-12-31 12:00:00,Economic,System,Wind,1.0,2.0
1762,2022-12-31 13:00:00,Economic,System,Wind,0.0,1.0

#### Merge

In [29]:
df = pd.merge(pv_sim_df, load_df, on='Time', how='left')
df = pd.merge(df, get_as_prices_df, on='Time', how='left')
df = pd.merge(df, get_load_forecast_df, on='Time', how='left')
df = pd.merge(df, fuel_mix_df, on='Time', how='left')
df = pd.merge(df, gas_price_df, on='Time', how='left')
df = pd.merge(df, ghg_df, on='Time', how='left')
df = pd.merge(df, lmp_df, on='Time', how='left')
df = pd.merge(df, solar_local_df, on='Time', how='left')
df = pd.merge(df, solar_system_df, on='Time', how='left')
df = pd.merge(df, wind_local_df, on='Time', how='left')
df = pd.merge(df, wind_system_df, on='Time', how='left')
df = pd.merge(df, solcast_df, on='Time', how='left')

In [30]:
# remove row with duplicate time
df = df.drop_duplicates(subset=['Time'], keep='last').reset_index(drop=True)

# fill categorical columns with string value
df['solar_local_Curtailment Type'] = df['solar_local_Curtailment Type'].fillna('Economic')
df['solar_system_Curtailment Type'] = df['solar_system_Curtailment Type'].fillna('Economic')
df['wind_local_Curtailment Type'] = df['wind_local_Curtailment Type'].fillna('Economic')
df['wind_system_Curtailment Type'] = df['wind_system_Curtailment Type'].fillna('Economic')
df['Market'] = df['Market'].fillna('DAY_AHEAD_HOURLY')
df['Location'] = df['Location'].fillna('CATALYST_7_N002')

# drop un-used columns
df = df.drop(columns=['PV_kwAC_out', 'Load Forecast', 'Location Type', 'LMP', 'Congestion', 'Loss', 'AirTemp', 
                      'Azimuth', 'CloudOpacity', 'DewpointTemp', 'Dhi', 'Dni', 'Ebh', 'Ghi', 'GtiFixedTilt', 
                      'GtiTracking', 'PrecipitableWater', 'RelativeHumidity', 'SurfacePressure', 'WindDirection10m', 
                      'WindSpeed10m', 'Zenith', 'AlbedoDaily', 'Time_local', 'Energy', 'Fuel Region Id', 'Other',
                     'solar_local_Curtailment Reason', 'solar_local_Fuel Type', 'solar_system_Curtailment Reason', 
                      'solar_system_Fuel Type', 'wind_system_Curtailment Reason', 'wind_system_Fuel Type', 
                     'wind_local_Curtailment Reason', 'wind_local_Fuel Type', 'Market', 'Location',
                     'solar_system_Curtailment Type', 'wind_system_Curtailment Type'])

# fill nan value with 0
df = df.fillna(0)

Standardization.

In [31]:
from sklearn.preprocessing import StandardScaler

In [32]:
scaled_cols = list(df.columns[2:24]) + list(df.columns[29:33]) + list(df.columns[34:38])

non_scaled_df = df[scaled_cols]

In [33]:
scaler = StandardScaler()
scaler.fit(non_scaled_df.values)
df[scaled_cols] = scaler.transform(non_scaled_df.values)

Label encoding.

In [34]:
from sklearn import preprocessing

In [35]:
label_cols = []
label_cols.append(df.columns[28])
label_cols.append(df.columns[33])

non_label_df = df[label_cols]

In [36]:
le = preprocessing.LabelEncoder()

In [37]:
df[label_cols] = df[label_cols].apply(le.fit_transform).astype(float)

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17520 entries, 0 to 17519
Data columns (total 55 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Time                                17520 non-null  datetime64[ns]
 1   PV_kwAC_out_Norm                    17520 non-null  float64
 2   Load                                17520 non-null  float64
 3   Non-Spinning Reserves Total (MW)    17520 non-null  float64
 4   Regulation Down Total (MW)          17520 non-null  float64
 5   Regulation Mileage Down Total (MW)  17520 non-null  float64
 6   Regulation Mileage Up Total (MW)    17520 non-null  float64
 7   Regulation Up Total (MW)            17520 non-null  float64
 8   Total Volume(MW)                    17520 non-null  float64
 9   Load_Forecast_Norm                  17520 non-null  float64
 10  Solar                               17520 non-null  float64
 11  Wind                                17520 non-null  float64
 12  Geothermal                          17520 non-null  float64
 13  Biomass                             17520 non-null  float64
 14  Biogas                              17520 non-null  float64
 15  Small Hydro                         17520 non-null  float64
 16  Coal                                17520 non-null  float64
 17  Nuclear                             17520 non-null  float64
 18  Natural Gas                         17520 non-null  float64
 19  Large Hydro                         17520 non-null  float64
 20  Batteries                           17520 non-null  float64
 21  Imports                             17520 non-null  float64
 22  Gas Price                           17520 non-null  float64
 23  GHG Allowance Price                 17520 non-null  float64
 24  LMP_Norm                            17520 non-null  float64
 25  Energy_Norm                         17520 non-null  float64
 26  Congestion_Norm                     17520 non-null  float64
 27  Loss_Norm                           17520 non-null  float64
 28  solar_local_Curtailment Type        17520 non-null  float64
 29  solar_local_Curtailment (MWh)       17520 non-null  float64
 30  solar_local_Curtailment (MW)        17520 non-null  float64
 31  solar_system_Curtailment (MWh)      17520 non-null  float64
 32  solar_system_Curtailment (MW)       17520 non-null  float64
 33  wind_local_Curtailment Type         17520 non-null  float64
 34  wind_local_Curtailment (MWh)        17520 non-null  float64
 35  wind_local_Curtailment (MW)         17520 non-null  float64
 36  wind_system_Curtailment (MWh)       17520 non-null  float64
 37  wind_system_Curtailment (MW)        17520 non-null  float64
 38  AirTemp_norm                        17520 non-null  float64
 39  Azimuth_norm                        17520 non-null  float64
 40  CloudOpacity_norm                   17520 non-null  float64
 41  DewpointTemp_norm                   17520 non-null  float64
 42  Dhi_norm                            17520 non-null  float64
 43  Dni_norm                            17520 non-null  float64
 44  Ebh_norm                            17520 non-null  float64
 45  Ghi_norm                            17520 non-null  float64
 46  GtiFixedTilt_norm                   17520 non-null  float64
 47  GtiTracking_norm                    17520 non-null  float64
 48  PrecipitableWater_norm              17520 non-null  float64
 49  RelativeHumidity_norm               17520 non-null  float64
 50  SurfacePressure_norm                17520 non-null  float64
 51  WindDirection10m_norm               17520 non-null  float64
 52  WindSpeed10m_norm                   17520 non-null  float64
 53  Zenith_norm                         17520 non-null  float64
 54  AlbedoDaily_norm                    17520 non-null  float64
dtypes: datetime64[ns](1), float64(54)
memory usage: 7.4 MB

In [39]:
df.describe()

,PV_kwAC_out_Norm,Load,Non-Spinning Reserves Total (MW),Regulation Down Total (MW),Regulation Mileage Down Total (MW),Regulation Mileage Up Total (MW),Regulation Up Total (MW),Total Volume(MW),Load_Forecast_Norm,Solar,...,Ghi_norm,GtiFixedTilt_norm,GtiTracking_norm,PrecipitableWater_norm,RelativeHumidity_norm,SurfacePressure_norm,WindDirection10m_norm,WindSpeed10m_norm,Zenith_norm,AlbedoDaily_norm
count,17520.000000,1.752000e+04,1.752000e+04,1.752000e+04,17520.0,17520.0,1.752000e+04,1.752000e+04,1.752000e+04,1.752000e+04,...,17520.000000,17520.000000,17520.000000,17520.000000,17520.000000,17520.000000,17520.000000,17520.000000,17520.000000,17520.000000
mean,0.228126,2.263347e-16,-1.716790e-16,-2.884552e-16,0.0,0.0,-1.137459e-15,-1.118017e-16,-6.728763e-16,-9.458441e-17,...,0.223369,0.237760,0.292002,0.266680,0.625270,0.530536,0.611613,0.212749,0.497907,0.614369
std,0.308701,1.000029e+00,1.000029e+00,1.000029e+00,0.0,0.0,1.000029e+00,1.000029e+00,1.000029e+00,1.000029e+00,...,0.300068,0.317072,0.366584,0.161889,0.212993,0.151183,0.259680,0.123171,0.249127,0.161183
min,0.000000,-4.973272e+00,-5.042566e+00,-2.287536e+00,0.0,0.0,-2.699022e+00,-4.878897e+00,-2.036136e+00,-8.510531e-01,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,-7.078199e-01,-8.092693e-01,-7.381199e-01,0.0,0.0,-6.047833e-01,-7.093923e-01,-7.103499e-01,-8.409004e-01,...,0.000000,0.000000,0.000000,0.148325,0.454348,0.426174,0.491667,0.132716,0.300000,0.500000
50%,0.001151,-2.007441e-01,-1.202553e-01,-1.636078e-01,0.0,0.0,-3.150185e-01,-5.541760e-02,-2.083979e-01,-7.723698e-01,...,0.012585,0.010840,0.009588,0.229665,0.656522,0.516779,0.683333,0.185185,0.493333,0.750000
75%,0.459935,3.963385e-01,8.226190e-01,6.160402e-01,0.0,0.0,5.220377e-01,6.280690e-01,4.012793e-01,1.034960e+00,...,0.429816,0.501355,0.642617,0.346890,0.810870,0.634228,0.800000,0.271605,0.700000,0.750000
max,1.000000,5.205845e+00,4.001062e+00,4.500045e+00,0.0,0.0,7.505669e+00,4.738401e+00,5.174309e+00,2.061955e+00,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [40]:
df

,Time,PV_kwAC_out_Norm,Load,Non-Spinning Reserves Total (MW),Regulation Down Total (MW),Regulation Mileage Down Total (MW),Regulation Mileage Up Total (MW),Regulation Up Total (MW),Total Volume(MW),Load_Forecast_Norm,...,Ghi_norm,GtiFixedTilt_norm,GtiTracking_norm,PrecipitableWater_norm,RelativeHumidity_norm,SurfacePressure_norm,WindDirection10m_norm,WindSpeed10m_norm,Zenith_norm,AlbedoDaily_norm
0,2021-01-01 00:00:00,0.0,-0.265057,1.123847,-0.553347,0.0,0.0,-1.031953,-0.226425,-0.696900,...,0.0,0.0,0.0,0.222488,0.829348,0.624161,0.011111,0.185185,1.000000,0.75
1,2021-01-01 01:00:00,0.0,0.280355,0.998683,-0.666473,0.0,0.0,-1.064463,-0.373823,-0.853204,...,0.0,0.0,0.0,0.229665,0.831522,0.624161,0.066667,0.148148,0.953333,0.50
2,2021-01-01 02:00:00,0.0,0.363394,1.057093,-0.741891,0.0,0.0,-1.082668,-0.404906,-0.963195,...,0.0,0.0,0.0,0.241627,0.825000,0.627517,0.166667,0.148148,0.880000,0.50
3,2021-01-01 03:00:00,0.0,0.210315,1.079344,-0.817308,0.0,0.0,-1.060995,-0.438523,-1.058475,...,0.0,0.0,0.0,0.255981,0.825000,0.624161,0.208333,0.172840,0.800000,0.50
4,2021-01-01 04:00:00,0.0,0.047990,0.867956,-0.779600,0.0,0.0,-0.964190,-0.476277,-1.071218,...,0.0,0.0,0.0,0.265550,0.827174,0.617450,0.227778,0.160494,0.720000,0.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17515,2022-12-31 19:00:00,0.0,-0.404605,-0.663717,-0.138135,0.0,0.0,1.363537,0.084817,0.062330,...,0.0,0.0,0.0,0.392344,0.875000,0.127517,0.863889,0.543210,0.693333,0.00
17516,2022-12-31 20:00:00,0.0,-0.352412,-0.810577,-0.025009,0.0,0.0,1.786445,0.245507,-0.101581,...,0.0,0.0,0.0,0.349282,0.878261,0.144295,0.850000,0.530864,0.773333,0.00
17517,2022-12-31 21:00:00,0.0,-0.335213,-0.942527,-0.062718,0.0,0.0,2.002739,0.235732,-0.227488,...,0.0,0.0,0.0,0.299043,0.888043,0.161074,0.844444,0.555556,0.853333,0.00
17518,2022-12-31 22:00:00,0.0,-0.298176,-1.092780,0.088117,0.0,0.0,1.250694,0.000128,-0.381431,...,0.0,0.0,0.0,0.260766,0.884783,0.174497,0.836111,0.567901,0.926667,0.00
17519,2022-12-31 23:00:00,0.0,-0.212083,-1.261111,0.917710,0.0,0.0,1.452540,0.563033,-0.567806,...,0.0,0.0,0.0,0.236842,0.889130,0.191275,0.825000,0.567901,0.986667,0.00

In [41]:
df.to_csv('data_processed.csv', index=False)